<main style="height: 100vh">
    <div class="container mt-4">
        <h2>Iniciar Sesión</h2>
        <form>
            <mat-form-field class="w-100">
                <input matInput placeholder="Correo electrónico" type="email">
            </mat-form-field>
            <mat-form-field class="w-100">
                <input matInput placeholder="Contraseña" type="password">
            </mat-form-field>
            <button (click)="login()" mat-flat-button color="accent">Iniciar Sesión</button>
        </form>
    </div>


</main>