<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Clases</p>
        @if (showFiller) {
        <span>Danzas Clásicas</span>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Mas info...
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="accent">
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Dance Academy</span>
        </mat-toolbar>

        <div style="padding: 1rem;">
            <app-users></app-users>
        </div>

    </div>

</mat-drawer-container>