<div class="content-container">
    <h2>Estudiantes</h2>
    <h4>Danza:</h4>
    <ul>
        <li>Urbano
            <ul>
                <li>Laura</li>
                <li>Pablo</li>
                <li>Estefania</li>
            </ul>
        </li>
        <li>Danzas Folklóricas
            <ul>
                <li>Esteban</li>
                <li>Mariana</li>
                <li>Luciana</li>
                <li>Camilo</li>
            </ul>
        </li>
        <li>Infantil
            <ul>
                <li>Juana</li>
                <li>Diego</li>
            </ul>
        </li>
    </ul>
</div>