<div class="content-container">
    <h2>Estudiantes</h2>

    <h4>Clases:</h4>
    <br>
    <ul>
        <li *ngFor="let danza of danzas">
            {{danza | uppercase}}
            <ul *ngIf="mostrar[danza]">
                <li *ngFor="let alumno of alumnosByDanza(danza)">
                    {{alumno}}
                </li>
            </ul>
            <br>
            <button [ngClass]="mostrar[danza] ? 'mostrar-lista' : 'no-mostrar-lista'" (click)="clickMostrar(danza)">
                {{ mostrar[danza] ? 'Ocultar' : 'Lista de alumnos' }}
            </button>

        </li>
    </ul>
</div>