<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="dashboard-sidebar" mode="side">
        <mat-nav-list>
            <a #homeLink="routerLinkActive" routerLinkActive [activated]="homeLink.isActive" routerLink="home"
                mat-list-item>Inicio</a>
            <a #clasesLink="routerLinkActive" routerLinkActive [activated]="clasesLink.isActive" routerLink="clases"
                mat-list-item>Clases</a>
            <a *ngIf="(authUser$ | async)?.role === 'admin' || (authUser$ | async)?.role === 'profesor'"
                #alumnosLink="routerLinkActive" routerLinkActive [activated]="alumnosLink.isActive" routerLink="alumnos"
                mat-list-item>Alumnos</a>
            <a #inscripcionesLink="routerLinkActive" routerLinkActive [activated]="inscripcionesLink.isActive"
                routerLink="inscripciones" mat-list-item>Inscripciones</a>
            <a (click)="logout()" mat-list-item>Cerrar sesion</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="accent">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div>
                    <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>Dance Academy</span>
                </div>

                @if (authUser$ | async; as user){
                <div>{{ user?.firstName}}</div>
                }
            </div>

        </mat-toolbar>
        <div>
            <main>
                <router-outlet />
            </main>
        </div>
    </div>
</mat-drawer-container>